h2{
    color:green;
}
table,tr,th,td{
    border:3px solid green;
}
form{
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 100;
    color: rgb(107, 101, 14);
    text-align: center;
    text-decoration: underline;
    letter-spacing: 15px;
    text-transform: uppercase;
}